.contadorCompleto {
    display: flex;
    background-color: rgb(78, 0, 0);
    padding: 5px;
    width: 375px;
    border-radius: 5px;
    margin: 10px;
}

.iconoReloj, .unidades, .decenas, .centenas, .unidadesMillar, .decenasMillar, .centenasMillar {
    width: 50px;
    background-color: rgba(117, 1, 1, 0.849);
    margin: 2px;
    border-radius: 2px;
    text-align: center;
    padding: 1px;
    font-size: xx-large;
}

.iconoReloj {
    width: 50px;
}
